<%= form_with(model: marketing_plan, local: true) do |form| %>
  <% if marketing_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marketing_plan.errors.count, "error") %> prohibited this marketing_plan from being saved:</h2>

      <ul>
      <% marketing_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plan_name %>
    <%= form.text_field :plan_name %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject%>
  </div>

  <div class="field">
    <%= form.label :html_plain %>
    <%= form.text_area :html_plain, cols:100, rows:60 %>
  </div>

  <div class="field">
    <%= form.label :text_plain %>
    <%= form.text_area :text_plain, cols:100, rows:60 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
