<p id="notice"><%= notice %></p>

<p>
  <strong>Plan name:</strong>
  <%= @marketing_plan.plan_name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @marketing_plan.subject %>
</p>

<p>
  <strong>Html plain:</strong>
  <%= @marketing_plan.html_plain %>
</p>

<p>
  <strong>Text plain:</strong>
  <%= @marketing_plan.text_plain %>
</p>

<%= link_to 'Edit', edit_marketing_plan_path(@marketing_plan) %> |
<%= link_to 'Back', marketing_plans_path %>
